@import url("reset.css");


 * {
	color: yellowgreen;
}  


p {
	color: royalblue;
}

.article div {
	color: plum;
}


.article a {
	color: brown;
	font-weight: 100;
} 


span {
	color: darkslategrey;
	font-size: 24px;
}

[class*="tle"] {
	color: violet;
}

.title {
	color: aqua;
}

#one-down span {
	color: red;
} 