@import url("reset.css"); 



/* ===================================Відпрацювання уроку===================================================== */

* {
	 /* color: yellowgreen;    */
}

p {
	/* color: slateblue; */
}
h1 {
	/* color: hotpink; */

}
a {
	/* color: aqua; */
}
.lesson { 
	/* color: blueviolet; */
}

.title {
	color: brown;
	font-size: 28px;
}

#some-id {
	/* color: red; */
}

[class*="tle"] {
	color: hotpink;
	font-size: 22px;
}
/* ---------------------Застосується до всіх дів, але лише, які мають ці два класи---------------- */
div.text {
	/* color: green; */
}
/* -------------------- Застосується тільки, якщо одночано тег має ці 2 класи----------------------- */
.page__text.text {
	/* color: blueviolet; */
}
/* ------------------------Перелічуємо класи, до яких хочемо застосувати.------------------------------- */
.title,
.text,
li {
	/* color: mediumvioletred; */
}

.lesson a {
	/* color: gold; */
}
/*----------------------- Застосується до класів GOLD, які вскладенв в lesson--------------------------- */

.lesson .gold {
	 /* color: goldenrod;  */
}
/* --------------------------Звернення до всіх тегів- всередині тегa lesson--------------------------------- */

.lesson * {
	/* color: red; */
}
/* ---------------------------- Звернення до всіх p, але тільки першого рівня вкладеності b lesson----------- */

.lesson > p {
	/* color: darkcyan; */
}

/* ---------------------Усі теги P які знаходяться далі по коду після об'єктів з класом lesson---------------------
										 та мають той самий рівень вкладеності */

.lesson ~ P {
	color: lime;
}

/* --------------Тег P який знаходяться беспосередньо 1-й  (КОНКРЕТНО) далі по коду після об'єктів з класом lesson-------
                             та мають той самий рівень вкладеності */

.lesson + P {
	color: yellow;
}


